<% if @active_activity_log.present? %>
  <% project = @projects.values.find { |p| p[:config][:name] == @active_activity_log.project_name } %>

  <div
    class="js-auto-open-file"
    data-project-path="<%= project[:config][:path] %>"
    data-file-path="<%= @active_activity_log[:params]["file_path"] %>">
  </div>
<% end %>

<h2>Projects</h2>

<% @projects.each_with_index do |(project_name, project_params), project_index| %>
  <h3><%= project_name %></h3>

  <ul>
    <% project_params[:activities].each do |activity_params| %>
      <li>
        <%= link_to activity_params[:name], new_activity_path(project_name: project_name, activity_name: activity_params[:name]) %>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>Activity Log</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Params</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <% project = @projects.values.find { |p| p[:config][:name] == activity.project_name } %>
        <td>
          <%= activity[:activity_config]["name"] %>
        </td>
        <td>
          Name: <%= activity[:params]["name"] %>
        </td>
        <td>
          <%= link_to "#", class: "js-open-file", data: { project_path: project[:config][:path], file_path: activity[:params]["file_path"] } do %>
            Open in VS Code
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
